In [2]:
!pip install sqlalchemy
!pip install pymysql

Requirement already satisfied: sqlalchemy in c:\programdata\anaconda3\lib\site-packages (1.3.15)
Requirement already satisfied: pymysql in c:\programdata\anaconda3\lib\site-packages (0.9.3)

In [3]:
from sqlalchemy import create_engine
import pandas as pd

In [4]:
db_host= '18.136.56.185:3306'
username = 'dm_team3'
user_pass='dm_team15119#'
db_name= 'project_telecom'

In [5]:
conn=create_engine('mysql+pymysql://'+username+':'+user_pass+'@'+db_host+'/'+db_name)
conn.table_names()

['telecom_churn_data']

In [6]:
query= 'select * from telecom_churn_data'
alldata=pd.read_sql(query,conn)
print(alldata.shape)
alldata

(4617, 21)

,columns1,columns2,columns3,columns4,columns5,columns6,columns7,columns8,columns9,columns10,...,columns12,columns13,columns14,columns15,columns16,columns17,columns18,columns19,columns20,columns21
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10,3,2.7,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.7,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.3,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.9,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4612,NY,57,510,345-7512,no,yes,25,144,81,24.48,...,112,15.91,158.6,122,7.14,8.5,6,2.3,3,False.
4613,NM,177,408,343-6820,no,yes,29,189,91,32.13,...,96,25.76,163.6,116,7.36,15.7,1,4.24,3,False.
4614,VT,67,408,338-4794,no,yes,33,127.5,126,21.68,...,129,25.17,200.9,91,9.04,13,3,3.51,1,False.
4615,MI,98,415,355-8388,no,yes,23,168.9,98,28.71,...,117,19.24,165.5,96,7.45,14.3,3,3.86,0,False.
4616,IN,140,415,409-6884,no,no,0,204.7,100,34.8,...,107,10.78,202.8,115,9.13,12.1,4,3.27,2,False.

In [7]:
type(alldata)

pandas.core.frame.DataFrame

In [8]:
alldata.columns=['State','Account Length','Area Code','Phone','International Plan','VMail Plan','VMail Message','Day Mins','Day Calls','Day Charge','Eve Mins','Eve Calls','Eve Charge','Night Mins','Night Calls','Night Charge','International Mins','International calls','International Charge','CustServ Calls','Churn']

In [9]:
alldata

,State,Account Length,Area Code,Phone,International Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,International Mins,International calls,International Charge,CustServ Calls,Churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10,3,2.7,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.7,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.3,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.9,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4612,NY,57,510,345-7512,no,yes,25,144,81,24.48,...,112,15.91,158.6,122,7.14,8.5,6,2.3,3,False.
4613,NM,177,408,343-6820,no,yes,29,189,91,32.13,...,96,25.76,163.6,116,7.36,15.7,1,4.24,3,False.
4614,VT,67,408,338-4794,no,yes,33,127.5,126,21.68,...,129,25.17,200.9,91,9.04,13,3,3.51,1,False.
4615,MI,98,415,355-8388,no,yes,23,168.9,98,28.71,...,117,19.24,165.5,96,7.45,14.3,3,3.86,0,False.
4616,IN,140,415,409-6884,no,no,0,204.7,100,34.8,...,107,10.78,202.8,115,9.13,12.1,4,3.27,2,False.

In [10]:
alldata['Churn'].unique()

array([' False.', ' True.'], dtype=object)

In [15]:
alldata.to_csv('../alldataRaw.csv')

In [11]:
query= 'select * from telecom_churn_data where columns21 = " True."'
churndata=pd.read_sql(query,conn)

In [12]:
churndata

,columns1,columns2,columns3,columns4,columns5,columns6,columns7,columns8,columns9,columns10,...,columns12,columns13,columns14,columns15,columns16,columns17,columns18,columns19,columns20,columns21
0,IN,65,415,329-6603,no,no,0,129.1,137,21.95,...,83,19.42,208.8,111,9.4,12.7,6,3.43,4,True.
1,NY,161,415,351-7269,no,no,0,332.9,67,56.59,...,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True.
2,CO,77,408,393-7984,no,no,0,62.4,89,10.61,...,121,14.44,209.6,64,9.43,5.7,6,1.54,5,True.
3,AZ,12,408,360-1596,no,no,0,249.6,118,42.43,...,119,21.45,280.2,90,12.61,11.8,3,3.19,1,True.
4,MD,135,408,383-6029,yes,yes,41,173.1,85,29.43,...,107,17.33,122.2,78,5.5,14.6,15,3.94,0,True.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
651,WV,131,510,350-7785,no,no,0,256.6,96,43.62,...,113,19.14,190.2,91,8.56,11.1,3,3,1,True.
652,KS,158,415,347-1864,yes,no,0,200,98,34,...,106,17.46,323.7,96,14.57,8.9,2,2.4,0,True.
653,SD,72,415,333-1661,no,yes,38,84.3,116,14.33,...,127,22.71,167.7,75,7.55,8.3,6,2.24,4,True.
654,OR,65,408,393-8963,yes,no,0,54.8,74,9.32,...,93,20.38,214.4,91,9.65,13.4,5,3.62,1,True.
655,MT,127,408,342-6864,no,no,0,271.2,110,46.1,...,80,18.15,201.8,102,9.08,13.2,4,3.56,0,True.

In [13]:
churndata.columns=['State','Account Length','Area Code','Phone','International Plan','VMail Plan','VMail Message','Day Mins','Day Calls','Day Charge','Eve Mins','Eve Calls','Eve Charge','Night Mins','Night Calls','Night Charge','International Mins','International calls','International Charge','CustServ Calls','Churn']

In [14]:
churndata

,State,Account Length,Area Code,Phone,International Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,International Mins,International calls,International Charge,CustServ Calls,Churn
0,IN,65,415,329-6603,no,no,0,129.1,137,21.95,...,83,19.42,208.8,111,9.4,12.7,6,3.43,4,True.
1,NY,161,415,351-7269,no,no,0,332.9,67,56.59,...,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True.
2,CO,77,408,393-7984,no,no,0,62.4,89,10.61,...,121,14.44,209.6,64,9.43,5.7,6,1.54,5,True.
3,AZ,12,408,360-1596,no,no,0,249.6,118,42.43,...,119,21.45,280.2,90,12.61,11.8,3,3.19,1,True.
4,MD,135,408,383-6029,yes,yes,41,173.1,85,29.43,...,107,17.33,122.2,78,5.5,14.6,15,3.94,0,True.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
651,WV,131,510,350-7785,no,no,0,256.6,96,43.62,...,113,19.14,190.2,91,8.56,11.1,3,3,1,True.
652,KS,158,415,347-1864,yes,no,0,200,98,34,...,106,17.46,323.7,96,14.57,8.9,2,2.4,0,True.
653,SD,72,415,333-1661,no,yes,38,84.3,116,14.33,...,127,22.71,167.7,75,7.55,8.3,6,2.24,4,True.
654,OR,65,408,393-8963,yes,no,0,54.8,74,9.32,...,93,20.38,214.4,91,9.65,13.4,5,3.62,1,True.
655,MT,127,408,342-6864,no,no,0,271.2,110,46.1,...,80,18.15,201.8,102,9.08,13.2,4,3.56,0,True.

In [17]:
churndata.to_csv('../churnTrue.csv')